{% extends "layout.html" %}
{% block content %}
<!-- Simple header with fixed tabs. -->
<div class="mdl-layout mdl-js-layout mdl-layout--fixed-header
            mdl-layout--fixed-tabs">
  <header class="mdl-layout__header">
    <div class="mdl-layout__header-row">
      <!-- Title -->
      <span class="mdl-layout-title">audearch</span>
    </div>
    <!-- Tabs -->
    <div class="mdl-layout__tab-bar mdl-js-ripple-effect">
      <a href="/" class="mdl-layout__tab">home</a>
      <a href="/upload" class="mdl-layout__tab is-active">upload</a>
      <a href="/search" class="mdl-layout__tab">search</a>
    </div>
  </header>
  <div class="mdl-layout__drawer">
    <span class="mdl-layout-title">audearch</span>
  </div>
  <main class="mdl-layout__content">
    <section class="mdl-layout__tab-panel is-active" id="fixed-tab-1">
      <div class="page-content"><!-- Your content goes here --></div>
    </section>
    <section class="mdl-layout__tab-panel" id="fixed-tab-2">
      <div class="page-content"><!-- Your content goes here --></div>
    </section>
    <section class="mdl-layout__tab-panel" id="fixed-tab-3">
      <div class="page-content"><!-- Your content goes here --></div>
    </section>
  </main>
</div>
<br>
<div class="row">
    <div class="col-md-10">
        <h1>audearch</h1>
    </div>
</div>
<form action="/upload_file/" enctype="multipart/form-data" method="post">
<input name="files" type="file" multiple>
<button class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored" type="submit">submit</button>
</form>

<hr>
<p>This is a audio fingerprinting system by <b>FastAPI</b>!</p>

{% endblock %}