{% extends "layout.html" %}
{% block content %}
<br>
<div class="row">
    <div class="col-md-10">
        <h1>audearch</h1>
    </div>
</div>
<div class="container-fluid">
    <form action="/upload_file/" enctype="multipart/form-data" method="post">
        <div class="form-group">
            　　<legend for="files">Music File</legend>
            　　<input name="files" type="file" id="files" class="form-control-file" multiple>
        </div>
        <div class="form-group">
            　　<legend for="music_id">Music ID</legend>
            　　<input name="music_id" type="text" class="form-control" id="music_id" multiple>
        </div>
        <div class="form-group">
            　　<legend for="title">Title</legend>
            　　<input name="title" id="title" type="text" class="form-control" multiple>
        </div>
        <div class="form-group">
            　　<legend for="duration">Duration</legend>
            　　<input name="duration" id="duration" type="text" class="form-control" multiple>
        </div>
        <div class="form-group">
            　　<legend for="size">Size</legend>
                <select class="form-control" id="size" name="size">
                    <option>5</option>
                    <option>6</option>
                    <option>7</option>
                    <option>8</option>
                    <option>9</option>
                    <option>10</option>
                    <option>11</option>
                    <option>12</option>
                    <option>13</option>
                    <option>14</option>
                    <option>15</option>
                    <option>16</option>
                    <option>17</option>
                    <option>18</option>
                    <option>19</option>
                    <option>20</option>
                </select>
        </div>
        <button class="btn btn-primary" type="submit">submit</button>
    </form>
</div>

<hr>
<p>This is a audio fingerprinting system by <b>FastAPI</b>!</p>

{% endblock %}